/* Definice CSS proměnných */
:root {
  --background-image-canvas: url("img/inside.png");
  --background-image-body: url("img/outside.png");
  --background-color-body: black;
  --button-background: linear-gradient(to bottom, #275786, #0e234d);
  --button-border-color: #ffc04b;
  --button-text-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.4);
  --button-box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.4);
  --end-background-color: #28529d;
  --end-border-color: #ffc04b;
  --font-family: "Bitter", serif;
  --font-weight: 700;
  --text-color: white;
  --border-radius-button: 3vw;
  --border-radius-end: 2%;
  --border-width-button: 0.2vw;
  --border-width-end: 0.5vw;
  --font-size-button: 2vw;
  --font-size-end: 2vw;
  --width-header: 90%;
  --max-width-header: 800px;
  --width-end: 50%;
  --max-width-end: 300px;
}

/* Stylování elementu #canvas */
#canvas {
  background-image: var(--background-image-canvas);
}

/* Animace vlnění pro klíčový frame */
@keyframes waveAnimation {
  0% {
    transform: skewY(0deg); /* Počáteční transformace */
  }
  50% {
    transform: skewY(5deg); /* Transformace ve středním bodě */
  }
  100% {
    transform: skewY(0deg); /* Návrat na původní transformaci */
  }
}

/* Stylování těla stránky */
body {
  background-image: var(--background-image-body);
  background-color: var(--background-color-body);
  background-repeat: repeat-x; /* Opakování pozadí pouze na ose X */
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  animation: gradientAnimation 20s linear infinite; /* Animace posunu pozadí */
}

/* Animace plynulého posunu pozadí */
@keyframes gradientAnimation {
  0% {
    background-position: 0 0; /* Počáteční pozice pozadí */
  }
  100% {
    background-position: 100% 0; /* Konečná pozice pozadí */
  }
}

/* Stylování hlavičky */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Zarovnání položek */
  width: var(--width-header);
  max-width: var(--max-width-header);
  margin: 2% auto; /* Odsazení shora a zdola, automatické postranní odsazení */
}

/* Stylování obrázku v hlavičce */
header img {
  margin-right: 10px;
  width: 10%; /* Přizpůsobení šířky obrázku */
}

/* Stylování elementů #score a #time */
#score,
#time {
  position: relative;
}

/* Stylování tlačítek */
button {
  margin-top: 5vh; /* Mezery nad tlačítkem */
  padding: 2vh 4vw; /* Vnitřní odsazení tlačítka */
  font-size: var(--font-size-button); /* Velikost písma tlačítka */
  border-radius: var(--border-radius-button); /* Zaoblení rohů tlačítka */
  border: var(--border-width-button) solid var(--button-border-color); /* Okraj tlačítka */
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--button-background);
  text-shadow: var(--button-text-shadow); /* Stín textu tlačítka */
  box-shadow: var(--button-box-shadow); /* Stín tlačítka */
}

/* Stylování koncového elementu (#end) */
#end {
  width: var(--width-end);
  max-width: var(--max-width-end);
  height: auto;
  border-radius: var(--border-radius-end);
  color: var(--text-color);
  background-color: var(--end-background-color);
  border: var(--border-width-end) solid var(--end-border-color); /* Okraj koncového elementu */
  font-size: var(--font-size-end); /* Velikost písma koncového elementu */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Zarovnání do středu */
  text-align: center;
  display: none; /* Skrytí elementu */
}
